.cover__link {
    display: flex;
    flex-direction: column;
    transition: opacity .3s ease;
    position: relative;
    background-image: url(../../../images/__background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 9%;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
    max-width: 100%;
    min-height: 740px;
}

.cover__link:hover .cover__overlay {
    background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
    .cover__link {
        max-width: 1024px;
        min-height: 640px;
        
    }
}

@media screen and (max-width: 768px) {
    .cover__link {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 616px) {
    .cover__link {
        max-width: 616px;
        min-height: 369px;
    }
}

@media screen and (max-width: 508px) {
    .cover__link {
        max-width: 508px;
        min-height: 304.8px;
    }
}

@media screen and (max-width: 408px) {
    .cover__link {
        max-width: 408px;
        min-height: 244.8px;
    }
}

@media screen and (max-width: 320px) {
    .cover__link {
        max-width: 320px;
        min-height: 200px;
    }
}