.cover__link {
    display: flex;
    flex-direction: column;
    transition: opacity .3s ease;
    position: relative;
    background-image: url(../../../images/__background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 24%;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
    max-width: 100%;
}

.cover__link:hover .cover__overlay {
    background-color: rgba(0, 0, 0, .6);
}