.cover__subtitle {
    max-width: 320px;
    max-height: 70px;
    padding: 0 0 22px;
    margin: 32px auto 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 1.22;
    font-size: 1.125rem;
    color: white;
}