@import url(./__logo/header__logo.css);
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 984px;
    margin: 0 auto 58px;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        margin: 0 48px 50px;
    }
}

@media screen and (max-width: 922px) {
    .header {
        margin-left: 43.1496px;
        margin-right: 43.1496px;
    }
}

@media screen and (max-width: 938.7px) {
    .header {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 853.4px) {
    .header {
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        margin-right: 24px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 618px) {
    .header {
        max-width: 576px;
        margin-right: 20.7px;
        margin-left: 20.7px;
    }
}

@media screen and (max-width: 468px) {
    .header {
        max-width: 432px;
        margin-right: 17.4px;
        margin-left: 17.4px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
    }
}