.languages__link {
  margin-right: 18px;
  font-size: 1.5rem;
  max-width: 28px;
  line-height: 28px;
  text-align: right;
  text-decoration: none;
  font-style: normal;
  color: #fff;
}

.languages__link:last-of-type {
  margin-right: 0;
}