.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.12;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
}

@media screen and (max-width: 550px) {
    .footer__link {
        font-size: 1.5rem;
        line-height: 1;
    }
}