.lead__title {
  padding: 0;
  margin: 0 auto 32px;
  max-height: 200px;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  line-height: 104%;
  color: #fff;
  font-size: 6rem;
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 0 23.66px 32px;
  }
}

@media screen and (max-width: 731px) {
  .lead__title {
    font-size: 5.2rem;
    max-width: 684px;
  }
}

@media screen and (max-width: 638px) {
  .lead__title {
    font-size: 4.5rem;
    max-width: 591px
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    font-size: 4rem;
    line-height: 105%;
    max-width: 503px;
  }
}

@media screen and (max-width: 492px) {
  .lead__title {
    font-size: 3.5rem;
    max-width: 445px;
  }
}

@media screen and (max-width: 439px) {
  .lead__title {
    font-size: 3.1rem;
    max-width: 392px;
  }
}

@media screen and (max-width: 394px) {
  .lead__title {
    font-size: 2.9rem;
    max-width: 347px;
  }
}

@media screen and (max-width: 373px) {
  .lead__title {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 346px) {
  .lead__title {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 333px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 109%;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin: 0 16px 16px;
    font-size: 2.5rem;
    line-height: 110%;
    max-width: 288px;
    max-height: 88px;
  }
}