.lead__title {
  padding: 0;
  margin: 0 auto 32px;
  max-height: 200px;
  max-width: 720px;
  font-style: normal;
  font-family: "Inter-Black";
  font-weight: 900;
  line-height: 1.04;
  color: #fff;
  font-size: 6rem;
}