.footer__copyright {
    grid-area: copyright;
    padding: 0;
    margin: 0;
    text-align: right;
    font-family: Inter, 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.14;
    color: #FFFFFF;
}

@media screen and (max-width: 550px) {
    .footer__copyright {
        display: flex;
        margin-top: 48px;
        max-width: 165px;
        line-height: 1;
    }
}