.footer__copyright {
    grid-area: copyright;
    padding: 0;
    margin: 0;
    display: block;
    text-align: right;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.14;
    color: #FFFFFF;
}