.cover__text {
    max-width: 656px;
    margin-top: 283px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .cover__text {
        margin-top: 233px;
    }
}

@media screen and (max-width: 768px) {
    .cover__text {
        margin-top: 153px;
    }
}

@media screen and (max-width: 680px) {
    .cover__text {
        margin-top: 135.456px;
    }
}

@media screen and (max-width: 608px) {
    .cover__text {
        margin-top: 121.1136px;
    }
}

@media screen and (max-width: 488px) {
    .cover__text {
        margin-top: 97.2096px;
    }
}

@media screen and (max-width: 320px) {
    .cover__text {
        max-width: 288px;
        margin-top: 51px;
    }
}