.cover__text {
    display: flex;
    max-width: 656px;
    z-index: 10;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 283px auto 0;
    text-align: center;
}