.lead__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    max-width: 620px;
    max-height: 72px;
    color: #fff;
    padding: 0;
    margin: 0 auto 64px;
    font-size: 1.875rem;
}