@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url-title/place__url-title.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__image/place__image.css);
.place {
    display: grid;
    grid-template-columns: minmax(350px, 460px) minmax(350px, 484px);
    grid-template-areas: "title website" "image p1" "image p2" "image p3";
    grid-column-gap: 40px;
    margin: 0 0 80px;
}

.place:last-child {
    margin-bottom: 0px;
}