@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link-item/footer__link-item.css);
.footer {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 165px);
    grid-template-areas: "links copyright";
    max-width: 1184px;
    margin: 94px 48px 24px;
}