@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        margin-top: 89px;
        max-height: 480px;
    }
}

@media screen and (max-width: 700px) {
    .cover {
        max-width: 700px;
        margin-top: 70px;
    }
}

@media screen and (max-width: 568px) {
    .cover {
        max-width: 568px;
    }
}

@media screen and (max-width: 464px) {
    .cover {
        max-width: 464px;
    }
}

@media screen and (max-width: 384px) {
    .cover {
        max-width: 384px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-top: 64px;
        max-width: 320px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__text {
        margin-top: 233px;
    }
}

@media screen and (max-width: 768px) {
    .cover__text {
        margin-top: 153px;
    }
}

@media screen and (max-width: 700px) {
    .cover__text {
        margin-top: 133px;
        max-width: 597px;
    }
}

@media screen and (max-width: 568px) {
    .cover__text {
        margin-top: 113px;
        max-width: 485px;
    }
}

@media screen and (max-width: 464px) {
    .cover__text {
        margin-top: 92px;
        max-width: 464px;
    }
}

@media screen and (max-width: 384px) {
    .cover__text {
        margin-top: 71px;
        max-width: 327px;
    }
}

@media screen and (max-width: 320px) {
    .cover__text {
        max-width: 288px;
    }
}

@media screen and (max-width: 700px) {
    .cover__title {
        font-size: 3.938rem;
    }
}

@media screen and (max-width: 568px) {
    .cover__title {
        font-size: 3.328rem;
    }
}

@media screen and (max-width: 464px) {
    .cover__title {
        font-size: 2.697rem;
    }
}

@media screen and (max-width: 384px) {
    .cover__title {
        font-size: 2.188rem;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 1.9rem;
        line-height: 1.06;
    }
}

@media screen and (max-width: 700px) {
    .cover__subtitle {
        font-size: 1.025rem;
        max-width: 291px;
    }
}

@media screen and (max-width: 568px) {
    .cover__subtitle {
        line-height: 1.14;
        max-width: 236px;
        font-size: 0.875rem;
        margin-top: 23px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        line-height: 1.14;
        max-width: 288px;
        margin: 16px 16px 0;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        margin: 90px 24px 24px;
    }
}

@media screen and (max-width: 475px) {
    .footer {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-bottom: 24px;
        margin-top: 64px;
        max-height: 198px;
        max-width: 165px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-bottom: 24px;
        margin-top: 64px;
        max-height: 198px;
        max-width: 165px;
    }
}

@media screen and (max-width: 475px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        order: -1;
    }
}

@media screen and (max-width: 320px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        order: -1;
    }
}

@media screen and (max-width: 475px) {
    .footer__link-item {
        margin-bottom: 32px;
        font-size: 1.25rem;
        line-height: 1.06;
    }
    .footer__link-item:last-of-type {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 320px) {
    .footer__link-item {
        margin-bottom: 32px;
        font-size: 1.5rem;
        line-height: 1;
    }
    .footer__link-item:last-of-type {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 475px) {
    .footer__copyright {
        text-align: right;
        display: flex;
        margin-top: 48px;
        max-width: 165px;
        line-height: 1;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        text-align: right;
        display: flex;
        margin-top: 48px;
        max-width: 165px;
        line-height: 1;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        margin: 0 48px 50px;
    }
}

@media screen and (max-width: 922px) {
    .header {
        margin-left: 43.1496px;
        margin-right: 43.1496px;
    }
}

@media screen and (max-width: 938.7px) {
    .header {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 853.4px) {
    .header {
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-height: 44px;
        max-width: 720px;
        margin-right: 24px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 618px) {
    .header {
        max-height: 40.7px;
        max-width: 576px;
        margin-right: 20.7px;
        margin-left: 20.7px;
    }
}

@media screen and (max-width: 468px) {
    .header {
        max-height: 37.3px;
        max-width: 432px;
        margin-right: 17.4px;
        margin-left: 17.4px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-height: 36px;
        max-width: 288px;
    }
}

@media screen and (max-width: 618px) {
    .header__logo {
        max-height: 40.7px;
        max-width: 178.667px;
    }
}

@media screen and (max-width: 468px) {
    .header__logo {
        max-height: 37.4px;
        max-width: 167.3367px
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-height: 36px;
        max-width: 156px;
    }
}

@media screen and (max-width: 618px) {
    .languages__link {
        font-size: 1.375rem;
        line-height: 1.17;
    }
}

@media screen and (max-width: 468px) {
    .languages__link {
        font-size: 1.25rem;
        line-height: 1.17;
    }
}

@media screen and (max-width: 320px) {
    .languages__link {
        font-size: 1.125rem;
        line-height: 1.11;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 74px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 720px;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 64px;
    }
}

@media screen and (max-width: 1024px) {
    .intro__wrapper {
        margin: 0;
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
        max-height: 116px;
    }
}

@media screen and (max-width: 640px) {
    .intro__title {
        font-size: 2.4rem;
        line-height: 1.08;
        ;
    }
}

@media screen and (max-width: 400px) {
    .intro__title {
        font-size: 2rem;
        line-height: 1.09;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 288px;
        max-height: 116px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text:first-of-type {
        line-height: 1.25;
    }
    .intro__text:last-of-type {
        margin-bottom: 34px;
        line-height: 1.5;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 896px) {
    .lead {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 757px;
        margin-left: 0px;
        margin-right: 11px;
    }
}

@media screen and (max-width: 750px) {
    .lead {
        max-width: 750px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 700px) {
    .lead {
        max-width: 100%;
        margin-right: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__title {
        margin: 0 auto 32px;
        max-width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        max-width: 709.69px;
        margin-left: 23.66px;
        margin-right: 23.66px;
    }
}

@media screen and (max-width: 750px) {
    .lead__title {
        max-width: 691.38px;
        margin-left: 22.5px;
        margin-right: 22.5px;
        font-size: 5.856rem;
    }
}

@media screen and (max-width: 720px) {
    .lead__title {
        max-width: 676.8px;
        margin-left: 21.6px;
        margin-right: 21.6px;
        font-size: 5.625rem;
    }
}

@media screen and (max-width: 680px) {
    .lead__title {
        max-width: 639.2px;
        margin-left: 20.4px;
        margin-right: 20.4px;
        font-size: 5.313rem;
    }
}

@media screen and (max-width: 664px) {
    .lead__title {
        max-width: 624.16px;
        margin-left: 19.92px;
        margin-right: 19.92px;
        font-size: 4.84rem;
        line-height: 1.06;
    }
}

@media screen and (max-width: 588px) {
    .lead__title {
        max-width: 552.72px;
        margin-left: 17.64px;
        margin-right: 17.64px;
        font-size: 4.2rem;
        line-height: 1.06;
    }
}

@media screen and (max-width: 512px) {
    .lead__title {
        max-width: 480px;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 3.7rem;
        line-height: 1.06;
    }
}

@media screen and (max-width: 464px) {
    .lead__title {
        font-size: 3.5rem;
        line-height: 1.08;
    }
}

@media screen and (max-width: 428px) {
    .lead__title {
        font-size: 3rem;
        line-height: 1.08;
    }
}

@media screen and (max-width: 376px) {
    .lead__title {
        font-size: 2.7rem;
        line-height: 1.09;
    }
}

@media screen and (max-width: 344px) {
    .lead__title {
        margin: 0 16 16px;
        max-width: 312px;
        font-size: 2.5rem;
        line-height: 1.1;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        max-height: 88px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        max-width: 611.12px;
    }
}

@media screen and (max-width: 750px) {
    .lead__subtitle {
        margin-left: 9.635%;
        margin-right: 9.635%;
        font-size: 1.79rem;
        line-height: 1.21;
        ;
    }
}

@media screen and (max-width: 550px) {
    .lead__subtitle {
        font-size: 1.36rem;
        line-height: 1.23;
        ;
    }
}

@media screen and (max-width: 420px) {
    .lead__subtitle {
        font-size: 1.024rem;
        line-height: 1.23;
        ;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 1rem;
        line-height: 1.25;
        max-height: 40px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-height: 580px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-height: 480px;
    }
}

@media screen and (max-width: 600px) {
    .lead__image {
        max-height: 440px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        max-height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        max-width: 179.39px;
        margin-left: 23.66px;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        max-width: 182px;
        font-size: 0.625rem;
        line-height: 1.4;
        margin-left: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, minmax(200px, 300px));
        grid-template-rows: repeat(4, auto);
        grid-gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: minmax(120px, 352px) minmax(120px, 352px);
        grid-template-rows: repeat(6, 264px);
        grid-gap: 16px;
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 724px) {
    .photo-grid {
        grid-template-columns: minmax(200px, 335px) minmax(200px, 335px);
        grid-template-rows: repeat(6, auto);
        grid-gap: 16px;
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 671px) {
    .photo-grid {
        grid-template-columns: minmax(200px, 400px) minmax(200px, 400px);
        grid-template-rows: repeat(6, auto);
        grid-gap: 16px;
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 475px) {
    .photo-grid {
        grid-template-columns: minmax(200px, 439.7px);
        grid-template-rows: repeat(12, auto);
        grid-gap: 16px;
        margin: 64px 16px 0;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: minmax(200px, 288px);
        grid-template-rows: repeat(12, 216px);
        grid-gap: 16px;
        margin: 64px 16px 0;
    }
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(300px, 440px) minmax(300px, 456px);
        grid-column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: minmax(150px, 340px) minmax(150px, 352px);
        grid-column-gap: 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 475px) {
    .place {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 475px) {
    .place__website {
        margin: 0px 16px 30px;
        order: -1;
        max-width: 288px;
        align-self: stretch;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        margin: 0px 16px 30px;
        order: -1;
        max-width: 288px;
        align-self: stretch;
    }
}

@media screen and (max-width: 768px) {
    .place__url-title {
        line-height: 100%;
    }
}

@media screen and (max-width: 475px) {
    .place__url-title {
        margin: 0px 0 12px;
        font-size: .75rem;
        line-height: 1;
    }
}

@media screen and (max-width: 320px) {
    .place__url-title {
        margin: 0px 0 12px;
        font-size: .75rem;
        line-height: 1;
    }
}

@media screen and (max-width: 1119px) {
    .place__title {
        font-size: 4.2rem;
    }
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 867px) {
    .place__title {
        font-size: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 2.625rem;
        line-height: 1.10;
        max-width: 340px;
    }
}

@media screen and (max-width: 475px) {
    .place__title {
        margin: 0px 16px 30px;
        font-size: 2rem;
        line-height: 1.09;
        order: -1;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        margin: 0px 16px 30px;
        font-size: 2rem;
        line-height: 1.09;
        order: -1;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 1rem;
    }
}

@media screen and (max-width: 475px) {
    .place__paragraph {
        margin-right: 16px;
        margin-left: 16px;
    }
    .place__paragraph:first-of-type {
        order: 1;
    }
    .place__paragraph:last-of-type {
        order: 3;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        margin-right: 16px;
        margin-left: 16px;
    }
    .place__paragraph:first-of-type {
        order: 1;
    }
    .place__paragraph:last-of-type {
        order: 3;
    }
}

@media screen and (max-width: 475px) {
    .place__link {
        margin: 0;
        max-width: 288px;
    }
}

@media screen and (max-width: 320px) {
    .place__link {
        margin: 0;
        max-width: 288px;
    }
}

@media screen and (max-width: 475px) {
    .place__image {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 1024px) {
    .places {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 475px) {
    .places {
        margin-left: 0;
        margin-right: 0;
        margin-top: 64px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin-left: 0;
        margin-right: 0;
        margin-top: 64px;
    }
}