.intro__title {
    margin: 0 0 40px;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 1.07;
    font-family: "Inter-Black";
    color: #FFFFFF;
}